*{
    padding: 0px;
    margin: 0px; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#cabecalho{
    background-color: #FFD900;
    padding: 30px 0px 30px 50px;
}

#corpo{
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}

.info{
    background-color: #514988;
    padding-top: 30px;

}

.info h1{
    color: #F3C61F;
    font-size: 75px;
}

.info h2{
    color: white;
    font-size: 30px;
}

.info p{
    color: white;
    font-size: 25px;
    padding-top: 50px ;
}

#timer{
    padding-top: 30px;
    display: grid;
    grid-auto-flow: column;
    margin-bottom: 10px;
}

#timer h1{ 
    font-size: 70px;
    color: #514988;
}

.timer2{
    color: #E33881;
    margin-bottom: 20px;
    font-size: 30px;
}

video{
    width: 95%;
    padding-bottom: 15px;
}

footer{
    padding-top: 10px;
    display: grid;
    grid-auto-flow: column;
    text-align: center;
}

footer h2{
    color: #F3C61F;
    margin-bottom: 10px;
    font-size: 28px;
}

.botao{
    text-align: left;
    padding-top: 100px;
    padding-right: 200px;
}

button{
    font-weight: bold;
    color: white;
    font-size: 45px;
    background-color: #514988;
    width: 80%;
    height: 120px;
    border: 0px;
    border-radius: 10px;
}

button:hover{
    cursor: pointer;
    border: 2px solid rgb(39, 122, 245);
}


